.mobile-menu {
    display: none;
    position: absolute;
    top: 150px;
    right: 30px;
    z-index: 10;
}


.square {
  position: relative;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square img {
position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}


.center {
 display: flex;
 align-items: center;
 justify-content: center;
}


.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: -18px;
    height: 36px;
    width: 36px;
    z-index: 1;
    font-weight: 600;
    color: #fff;
    background: #ffb300;
    border-radius: 50%;
}

.vertical-center {
  position: relative;
  top: 40%;

}

li p {
	display: contents;
}

.card {
	    min-height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.col {
	flex-direction: column;
	 display: flex;
}


.card-actions {

	/*position: sticky;
    bottom: 0;*/

}

.card-contents {
/*	min-height: 100%;*/
flex: 1 1 auto;
}

