<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ GOOGLE_ANALYTICS }}');
</script>
<link rel="shortcut icon" href="{{ SITEURL }}/favicon.ico">

        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{%if FEED_ATOM_URL %}{{ FEED_ATOM_URL }}{% else %}{{ FEED_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_RSS_URL %}{{ FEED_RSS_URL }}{% else %}{{ FEED_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_RSS_URL %}{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_RSS.format(slug=category.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_ATOM_URL %}{{ TAG_FEED_ATOM_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_ATOM.format(slug=tag.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{% if TAG_FEED_RSS_URL %}{{ TAG_FEED_RSS_URL.format(slug=tag.slug) }}{% else %}{{ TAG_FEED_RSS.format(slug=tag.slug) }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">
        <link rel="stylesheet" href="{{ SITEURL}}/theme/css/style.css">

        {% endblock head %}
</head>

<body >
      
    <nav>
      <div class="nav-container">
        <div class="nav-logo">
            <a href="/">{{SITENAME}}</a>
        </div>
        <ul class="nav-links">
            <li><a href="{{ SITEURL }}/">Home</a></li>
            <li><a href="{{ SITEURL }}/disclaimer/">Disclaimer</a></li>
            <li><a href="{{ SITEURL }}/tags/">Tags</a></li>
            <li><a href="{{ SITEURL }}/categories/">Categories</a></li>
        </ul>

        <a class="mobile-menu-toggle" href="#"></a>
        <ul class="mobile-menu menu">
            <li><a href="{{ SITEURL }}/">Home</a></li>
            <li><a href="{{ SITEURL }}/disclaimer/">Disclaimer</a></li>
            <li><a href="{{ SITEURL }}/tags/">Tags</a></li>
            <li><a href="{{ SITEURL }}/categories/">Categories</a></li>
        </ul>
      </div>
    </nav>
         
        {% block content %}
        {% endblock %}

  <footer>
    <div class="container">
        <div class="row">
          <div class="col col-lg-5">
            <div class="footer-text">
                <p class="h3">{{ SITENAME }}</p>
            </div>
            
          </div>
          <div class="col col-sm-6 col-lg-3 col-lg-offset-1">
        <p class="footer-links-category"><strong>Site Locations</strong></p>
        <ul class="footer-links">
          <li><a href="{{ SITEURL }}/">Home</a></li>
          <li><a href="{{ SITEURL }}/tags/">Tags</a></li>
          <li><a href="{{ SITEURL }}/categories/">Categories</a></li>
        </ul>
      </div>

      <div class="col col-sm-6 col-lg-3">
        <p class="footer-links-category"><strong>Formalities</strong></p>
        <ul class="footer-links">
          <li><a href="{{ SITEURL }}/disclaimer/">Disclaimer</a></li>
          <li><a href="{{ SITEURL }}/terms-and-conditions/">Terms & Conditions</a></li>
          <li><a href="{{ SITEURL }}/privacy-policy/">Privacy Policy</a></li>
        </ul>
      </div>


        </div>
        <p class="copyright">
                Made by Yeroda and proudly powered by <a href="https://getpelican.com/" rel="nofollow">Pelican</a>,
                which takes great advantage of <a href="https://www.python.org/" rel="nofollow">Python</a>.
                </p>
    </div>
</footer>
</body>
<script type="text/javascript">
    document.querySelector('.mobile-menu-toggle').addEventListener('click', function(e) {
        e.preventDefault();
        e.stopPropagation();
        document.querySelector('.mobile-menu').style.display = 'block';
    });

    document.querySelector('body').addEventListener('click', function() {
        document.querySelector('.mobile-menu').style.display = 'none';
    });


</script>
</html>
