{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} by {{ SITENAME }}{%endblock%}

{% block head %}
  {{ super() }}

  <link rel="canonical" href="{{ SITEURL }}/{{article.url}}">
  <meta name="description" content="{{ article.metadescription }}" />
  <meta name="keywords" content="{{ article.tags | join(', ')}}">
  <meta name="author" content="{{ article.author }}">
  <meta name="publisher" content="{{ AUTHOR }}">


  <meta property="og:title" content="{{ article.title }}" />
  <meta property="og:description" content="{{ article.metadescription }}" />
  <meta property="og:image" content="{{ article.image }}" />
  <meta property="og:image:width" content="500" />
  <meta property="og:image:height" content="500" />
  <meta property="og:type" content="article" />
  <meta property='article:author' content= "{{ SITEURL }}/author/{{ article.author }}" />
  <meta property='article:publisher' content="{{ SITEURL }}/author/{{ article.author }}" />
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
  <meta property="og:site_name" content="{{ SITENAME }}" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ article.title }}" />
  <meta name="twitter:description" content="{{ article.metadescription }}" />
  <meta name="twitter:image" content="{{ article.image }}" />

 
      <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ SITEURL }}/{{ article.url }}"
      },
      "headline": "{{ article.title }}",
      "image": "{{ article.image }}",
      "datePublished": "{{ article.date }}",
      "dateModified": "{{ article.modified }}",
      "author": {
        "@type": "Person",
        "name": "{{ article.author }}",
        "url": "{{ SITEURL }}/author/{{ article.author }}"
      },
       "publisher": {
        "@type": "Organization",
        "name": "{{ AUTHOR }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ SITEURL }}/{{SITEIMAGE}}"
        }
      }
    }
    </script>


    
{% endblock %}

{% block content %}


    <section class="section-primary">
      <div class="container">

        {% if article.category %}

        <ul class="breadcrumbs">
  <li><a href="{{ SITEURL }}/">Home</a></li>
{% for cat in article.category.ancestors or [article.category] %}
    <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.shortname or cat }}</a></li>
{% endfor %}
</ul>

        {% endif %}


        {% if article.modified %}
          <p class="align-center">
            Last updated: {{ article.locale_modified }}
          </p>
          <br>
        {% endif %}


        {% if article.title %}
        <h1 class="h1 align-center">{{ article.title }}</h1>
        {% endif %}

        {% if article.subtitle %}
        <div class="align-center"><em>{{ article.subtitle }}</em></div><br>
        {% endif %}

        <br>

        <ul class="tags center">
        {% for tag in article.tags|sort %}
          
            <li class="tag" style="margin-bottom: 15px;">
              <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            </li>
          
        {% endfor %}
        </ul>
    </div>
  </section>



<section class="section-secondary">
  <div class="container container-small">
  <h2 class="">Top 3 Best-Selling {{ article.keywords }} You Need to Know About Now:</h2>
  <div class="row">
    <div class="col col-md-4">
      <div class="card">
        <h3 class="card-title">Most Popular</h3>
        <div class="center square">
        <img src="{{article.cool_products[0].image_m}}"  alt="{{ article.cool_products[0].title }}">
        </div>
        <br>
        <div class="card-contents">
          <strong>{{article.cool_products[0].brand}}:</strong>
          <p>{{article.cool_products[0].title}}</p>
        </div>
          <ul class="card-actions">
            <li>
              <a href="{{ article.cool_products[0].clickurl }}" rel="nofollow" class="center">
              <button class="button-warning">
                {% if article.cta %}
                      {{ article.cta }}
                  {% else %}
                      Check Latest Price
                  {% endif %}
            </button></a></li>
          </ul>
          
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card">
        <h3 class="card-title">2nd Choice</h3>
        <div class="center square">
        <img src="{{article.cool_products[1].image_m}}" alt="{{ article.cool_products[1].title }}">
        </div>
        <br>
        <div class="card-contents">
        <strong>{{article.cool_products[1].brand}}:</strong>
        <p>{{article.cool_products[1].title}}</p>
        </div>
        <ul class="card-actions">
          <li>
              <a href="{{ article.cool_products[1].clickurl }}" rel="nofollow" class="center">
            <button class="button-warning">
              {% if article.cta %}
                    {{ article.cta }}
                {% else %}
                    Check Latest Price
                {% endif %}
          </button></a></li>
        </ul>
      </div>
    </div>
    <div class="col col-md-4">
      <div class="card">
        <h3 class="card-title">3rd Choice</h3>
        <div class="center square">
        <img src="{{article.cool_products[2].image_m}}"  alt="{{ article.cool_products[2].title }}">
        </div>
        <br>
        <div class="card-contents">
        <strong>{{article.cool_products[2].brand}}:</strong>
        <p>{{article.cool_products[2].title}}</p>
      </div>
        <ul class="card-actions">
          <li>
              <a href="{{ article.cool_products[2].clickurl }}" rel="nofollow" class="center">
            <button class="button-warning">
              {% if article.cta %}
                    {{ article.cta }}
                {% else %}
                    Check Latest Price
                {% endif %}
          </button></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>




    <section class="section-tertiary">
      <div class="container container-small">
          {% if article.cool_description %}
        <p>{{ article.cool_description | replace('\n', '</p><br><p>') }}</p>
        {% endif %}
 
<p class="alert alert-warning align-center">
  <em>
We are a participant in the ClickBank and Amazon Services LLC Associates programs. These are affiliate advertising programs designed to provide a means for sites to earn advertising fees by advertising and linking to offers on ClickBank and Amazon.com, respectively.
</em>
</p>

</div>
</section>


  

    <section class="section-primary">
      <div class="container container-small">

        <h2>Discover the 10 Best-Selling {{ article.keywords }} That Everyone is Talking About:</h2>

        </div>
          <div class="container">
                      {% for product in article.cool_products %}
    <div class="card">
      <div class="row">
          <div class="col col-lg-1">
            
              <div class="center">
              <div class="circle">{{ loop.index }}</div>
                <br><br><br>
            
            </div>
          </div>

          <div class="col col-lg-3">
              {% if product.image_m %}
              <div class="center">
              <a href="{{ product.clickurl }}" rel="nofollow">
              <img src="{{ product.image_m }}" alt="{{ product.title }}">
              </a>
              </div>
              {% endif %}
          </div>  

          <div class="col col-lg-5">
                <div class="center">
              <a href="{{ product.clickurl }}" rel="nofollow">
              {% if product.title %}
                <p class="card-title align-center" style="">{{ product.title }}</p>
              {% endif %}

              </a>
              </div>
          </div>

          <div class="col col-lg-3">
            <div class="align-center vertical-center">
              <a href="{{ product.clickurl }}" rel="nofollow">
              <button class="button-warning button-shadow">
                {% if article.cta %}
                    {{ article.cta }}
                {% else %}
                    Check Latest Price
                {% endif %}
              </button>
              </a>
            </div>
          </div>
           
     </div>   
  </div>
    {% endfor %}

    </div>

  </section>

  
{% if article.similar_posts %}
<section class="section-secondary">
  <div class="container container-small">
  <h2 class="">Related Best-Selling Products:</h2>
  </div>
<div class="container">
  <div class="row">

{% for similar in article.similar_posts %}
    <div class="col col-md-3">
      <div class="card">
        <h3 class="card-title"></h3>
        <div class="square center">
        <img src="{{similar.image}}" alt="{{similar.title}}">
        </div>
        <br>
        <div class="card-contents">
        <p><strong>{{ similar.title }}</strong></p>
        </div>
        <ul class="card-actions">
          <li>
            <a href="{{ SITEURL }}/{{ similar.url }}" class="center">
            <button class="button-warning">
              {% if article.cta %}
                    {{ article.cta }}
                {% else %}
                    Check Products
                {% endif %}
          </button></a></li>
        </ul>
      </div>
    </div>
    {% endfor %}
</div>
</div>
</section>
{% endif %}


<section class="section-tertiary">
  <div class="container container-small">


      <h2>Explore the 10 Best-Selling {{ article.keywords }}: Why They're Worth It...</h2>


    {% for review in article.cool_reviews %}


    <div class="panel">
    <div class="panel-head">
        <p class="panel-title">{{ loop.index }}. Review</p>
    </div>
    <div class="panel-body">
      <a href="{{ review.clickurl }}" class="center" rel="nofollow" >
        <img src="{{review.image_l}}"  alt="{{ review.title }}">
      </a>
      <br>
      <a href="{{ review.clickurl }}" rel="nofollow">
      <h3 >{{review.title}}</h3>
    </a>
    <br>
        {{review.text}}
    </div>
    <div class="panel-footer">
      <a href="{{ review.clickurl }}" class="center" rel="nofollow">
      <button class="button-warning button-shadow">
        {% if article.cta %}
            {{ article.cta }}
        {% else %}
            Check Latest Price
        {% endif %}
      </button>
      </a>
       
    </div>
</div>


      


      

      


      
    {% endfor %}

    {{article.content}}
  </div>
</section>


<section>
  <div class="container">
    <br>
    <hr>
    {% if article.modified %}
      <br>
      <p>
        Last updated: {{ article.locale_modified }}
      </p>
    {% endif %}
    
    {% if article.author %}
      <p>
        Written by: {{ article.author }}
      </p>
    {% endif %}
  </div>
</section>
{% endblock %}
