{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ SITETITLE }}{%endblock%}


{% block head %}
  {{ super() }}

  <link rel="canonical" href="{{ SITEURL }}">
  <meta name="description" content="{{ SITEDESCRIPTION }}" />
  <meta name="keywords" content="{{ SITEKEYWORDS }}">
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="publisher" content="{{ AUTHOR }}">

  <meta property="og:title" content="{{ SITETITLE }}" />
  <meta property="og:description" content="{{ SITEDESCRIPTION }}" />

  <meta property="og:type" content="website" />
  <meta property="og:image" content="">

  <meta property="og:url" content="{{ SITEURL }}" />
  <meta property="og:site_name" content="{{ SITENAME }}" />


 
      <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://yeroda.com"
      },
      "headline": {{ SITETITLE }},
      "datePublished": "2023-06-26 00:00",
      "dateModified": {{ BUILD_TIME | strftime("%b %d, %Y, %H:%M:%S") }},
      "author": {
        "@type": "Person",
        "name": {{ AUTHOR }}
      },
       "publisher": {
        "@type": "Organization",
        "name": {{ AUTHOR }}
        
      }
    }
    </script>


    
{% endblock %}


{% block content %}

 <section class="section-primary">
    <div class="container container-small">
        {% block content_title %}
        <h1 class="align-center">Reviews of Best Selling Products in 2023</h1>
        {% endblock %}
    </div>
</section>


<section class="section-secondary">         
        <div class="row">

        {% for article in articles_page.object_list %}
        <div class="col col-md-3">
        <div class="card">
            <a href="{{ SITEURL }}/{{ article.url }}">
                
                    {% if article.image %}
                    <div class="square">
                
                        <img src="{{ article.image }}" alt="{{ article.title }}">  
                        </div>
                    {% endif %}

                <h2 class="card-title">{{ article.title }}</h2>
                               
              
              <ul class="card-actions">
                  <li><button class="button-primary">Read more...</button></li>
                </ul>
              
            </a>
        </div>
    </div>
        {% endfor %}
    </div>
</section>       

   

<section class="section-secondary">    
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
    
</section>
{% endblock content %}
