{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    
      
    <section class="section section-primary">
    <div class="container container-small">
      <h1 class="title align-center">{{ page.title }}</h1>
      </div>
  </section>


    <section class="section">
    <div class="container container-small">
      {{ page.content }}
    </div>
  </section>

  <section>
  <div class="container">
    <br>
    <hr>
    {% if page.modified %}
      <br>
      <p>
        Last updated: {{ page.locale_modified }}
      </p>
    {% endif %}
  
  </div>
</section>
    
{% endblock %}
