{% if DEFAULT_PAGINATION %}
{% set first_page = articles_paginator.page(1) %}
{% set last_page = articles_paginator.page(articles_paginator.num_pages) %}
<div class="center">
    <ul class="pagination">
        {% if articles_page.has_previous() %}
            <li><a href="{{ SITEURL }}/{{ page_name }}{{ '' }}.html">
                <span aria-hidden="true">First</span></a>
            </li>
            <li><a href="{{ SITEURL }}/{{ articles_previous_page.url }}">Prev</a></li>
        {% endif %}
        
        {% if articles_page.number > 2 %}
            <li><a href="#">...</a></li>
        {% endif %}

        {% for page in range(1, articles_paginator.num_pages + 1) %}
            {% if page == 1 and page >= (articles_page.number - 2) and page <= (articles_page.number) + 2 %}
                <li><a class="{{ 'active' if page == articles_page.number else '' }}"
                        href='{{ SITEURL }}/{{ page_name }}{{ "" }}.html'>{{ page }}</a></li>
            {% elif page >= (articles_page.number - 2) and page <= (articles_page.number) + 2 %}
                <li><a class="{{ 'active' if page == articles_page.number else '' }}"
                        href="{{ SITEURL }}/{{ page_name }}{{ page }}.html">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if articles_page.number < articles_paginator.num_pages -1  %}
            <li><a href="#">...</a></li>
        {% endif %}
        
        {% if articles_page.has_next() %}
            <li><a href="{{ SITEURL }}/{{ articles_next_page.url }}">Next</a></li>
            <li><a href="{{ SITEURL }}/{{ page_name }}{{ articles_paginator.num_pages }}.html">
                <span aria-hidden="true">Last</span></a>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}
